<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>My Myself And I</title>
</head>
<body>
    <div id="main_container">
        <div id="image">
            <img src="../static/images/coding.webp" alt="profile_pic">
        </div>
        <div id="about_me">
            <h1 id="yellow">I'M ERICK MOLINA</h1>
            <h1>FULL STACK DEVELOPER</h1>
            <p>I'm a Full Stack Developer with the main focus of developing user friendly websites that allow people to experience
                the internet in a new way. I'm most passionate about working towards the goal of changing peoples lives
                through the use of web development.
            </p>
        </div>
        <div id="nav_bar">
            <!-- 3 different buttons on the nav bar -->            
            <a href="/about_me">About Me</a>
        </div>
    </div>
</body>
</html>